
{% include  "EieinstitutBundle:Block:Block_Discussion.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_Mes_Contacts.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_Messagerie.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_Mon_calendrier.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_Mon_portefolio.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_Tableau_blanc_interactif.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_Visio_conference.html.twig" %}
<br>
<div class="clear"></div>
{% include  "EieinstitutBundle:Block:Block_ressources.html.twig" %}
<br>
<div class="clear"></div>




