




<!-- Block ressources-->

        <div class="block-border">
        <div class="block-content">
            <h1>Ressources</h1>

            <ul class="simple-list">
                    <li><a href="{{ path('Ressources') }}">Rechercher</a></li>
                    <li><a href="{{ path('Ressources_Ajouter') }}">Ajouter</a></li>
                    <!--<li><a href="#">Mes ressources</a></li>-->
            </ul>
         </div>
        </div>

