

<!-- Block Tuto en ligne-->

  
			<div class="block-border">
			<div class="block-content">
						<h1>Tutoriel en ligne</h1>
						
						<ul class="simple-list">
						   <li><a href="#">Tous les tutoriels</a></li>
							<li><a href="#">Ajouter un tutoriel</a></li>
							<li><a href="#">Les tutoriel en cours</a></li>
						</ul>
				</div>
			</div>


