

<!-- Block Raccourci-->

  
<div class="block-border">
			<div class="block-content">
						<h1>Raccourcis</h1>
						
						<ul class="simple-list">
						   <li><a href="#">Portefolio</a></li>
							 <li><a href="#">Messagerie</a></li>
							
							<li><a href="#">Contact</a></li>
							<li><a href="#">Ressources</a></li>
							<li><a href="#">Tutoriel en ligne</a></li>
						</ul>
				</div>
</div>


