


{% block content %}
<!--Block contact-->

     <div class="block-border">
            <div class="block-content">
                <h1>Mes contacts</h1>
                    <ul class="simple-list">
                        <li><a href="{{ path('demande_contact') }}">Faire une demande</a></li>
                        <li><a href="{{ path('list_contact') }}">Mes affili&eacute;s</a></li>
                    </ul>
            </div>
       </div>


{% endblock %}