{% extends "EieinstitutBundle::Sub-Master-Left.html.twig" %}
{% block title %}
     {{ parent() }}   | Ajouter une ressource
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block Slide %}

{% endblock %}
{% block Sub_Content %}

    <section class="grid_9">
				<small>Espace personnel</small>
			</section>
			
		
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

			      
					<div class="block-controls">
								<h1>Recherche avancée de ressources </h1>  <br><br>
								
					</div>
						<form class="form" id="tab-stats" method="post" action="">
							<fieldset class="grey-bg">
							
								<!--<legend><a href="#">Recherche avancée</legend>-->
										
									<span class="label required"> Domaine </span>
						<select class="full-width" name="Domaine" id="stats-sites-0">
							<option value="0">Informatique</option>
							<option value="0">Economie</option>
						</select><br><br>		
					
					<span class="label required"> Théme</span>
						<select class="full-width" name="theme" id="stats-sites-0">
							<option value="0">Développemnt</option>
							<option value="0">Réseau</option>
						</select><br><br>	
							
					<span class="label required">Type</span>
						<select class="full-width" name="type" id="stats-sites-0">
							<option value="0">Vidéo</option>
							<option value="0">Document PDF</option>
						</select>
						
									
								<div class="columns">
							<p class="colx2-left">
									<span class="label required">
											Tags
									</span>
								<input id="complex-fr-subtitle" class="full-width" type="text" value="" name="tags"> <br><br>
								
							</p>
							<p class="colx2-right">
							<span class="label ">
										&nbsp;	
									</span>
								<button type="button">Ajouter</button> <br><br>
								
								</p>
								</div>
									
			<div class="block-border">
			    <div class="block-content no-title">
			    	<h3>Tags</h3>
			    
					<ul class="tags">
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					</ul>

				</div>
			</div><br>
			
			<ul class="checkable-list">
				<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b>pour préparer..</b></label>
					<ul class="checkable-list">
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> <b>mes cours</b></label></li>
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b> mes travaux dirigés</b></label></li>
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> <b>mes expériences</b></label></li>
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> <b> mes exposés scientifiques</b></label></li>
					</ul>
				</li>
				<li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"><b>pour donner des compléments documentaires à..</b></label>
					<ul class="checkable-list">
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> <b>mes cours</b></label></li>
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b> mes travaux dirigés</b></label></li>
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> <b>mes expériences</b></label></li>
						<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> <b> mes exposés scientifiques</b></label></li>
					</ul>
				</li>
				<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b>pour comprendre les bases d'un sujet</b></label></li>
				<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b>pour approfondir mes connaissances sur un sujet</b></label></li>
				<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b>pour résoudre les problèmes du domaine</b></label></li>
				<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"><b>pour s'exercer</b></label></li>
			</ul>
		
						<span class="label">Trier les résultats par...</span>
						<hr align="left" width="50%">
						<input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Les plus conseillées par le réseau</label> <br><br>
						<input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Les ressources officielles (IUT en ligne)</label><br><br>
						<input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Les dernières mises en ligne</label> <br>
						
		
				
				
						
			<div class="float-right"><br>
			
			<button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png')}}" width="16" height="16"> Rechercher</button>
								
			</div>
				</fieldset></form></div>
			</div>
						
							
					
					
		</section>

{% endblock %}
     
{% block javascripts_Bottom %}

{% endblock %}