{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}

{% if test == 1 %}
    Message envoyé !!! 
{%elseif test == -1 %}
<section class="grid_9">
    <div class="block-border">
        <form class="block-content form" id="table_form" method="post" action="{{ path('nouveau_message') }}">
            <h1>Nouveau message</h1>
            <fieldset>



                <p>
                    <label for="A">A :</label>
                    <input type="text" name="A" id="A">
                </p>

                <p>
                    <label for="objet">Objet :</label>
                    <!--<input type="text" style="background-color:; padding-left:10px; font-family:'nevis Bold', Arial; font-size:35px; color:#FFF;" name="objet" id="objet">-->
                    <input  type="text" name="Objet" id="Objet">
                </p>

                <p>
                    <label for="message">Message :</label><br/>
                    <textarea id="editable" name="message" id="message" cols="100" rows="15"></textarea>
                </p>


            </fieldset>

           
            <input type="submit" name="submit" id="submit" value="Envoyer">
        </form>

    </div>


</section> 
    
    {%endif%}

  {% endblock %}