{# empty Twig template #}
{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
<article class="container_12">
		<div class="block-border"><div class="block-content">
			<h1>Nos partenaires</h1>
			<p>
				<br><br><br>
Unisciel est l’Université des Sciences en Ligne. Créée sous l’impulsion du Ministère de l’Enseignement Supérieur, elle fait partie des 7 UNT (Universités Numeriques Thématiques). Sa vocation est de proposer des ressources pédagogiques dans le domaine des sciences fondamentales: Mathématiques, Physique, Chimie, Informatique, Sciences de la Vie, Sciences de la Terre et de l’Univers.
<br>
Elle favorise également l’attrait des jeunes vers les études scientifiques et contribue au rayonnement de l’enseignement scientifique francophone.
<br>

http://www.unisciel.fr






<br><br><br>



UNIT est l'une des Universités Numériques Thématiques nationales (UNT) créées à l'initiative de Grandes Ecoles, d’Universités et du Ministère chargé de l’Enseignement Supérieur. 
UNIT associe tous les acteurs publics et privés de la formation supérieure en Sciences de l'Ingénieur et Technologie désireux de partager des documents numériques existants, des outils, des expériences, et de co-piloter des projets basés sur les TICE (Technologies de l'Information et de la Communication pour l'Enseignement).
<br>
UNIT centralise les ressources pédagogiques de 70 établissements de prestige tels que l'Ecole des Mines.
<br>
http://www.unit.eu/fr


<br><br><br>






L'objectif d'iutenligne est de construire le Campus numérique des IUT en France.
La médiathèque d'IUTenligne offre un ensemble de ressources pédagogiques variées dans leurs formes, leur approches pédagogiques, leurs contenus : unités d'apprentissage, cours, travaux dirigés, textes, images, sons, exercices et simulateurs interactifs, travaux pratiques en réseau, tests d'auto-évaluation, QCM...
<br>
Ces ressources produites par les IUT sont mutualisées et cette médiathèque constituera, à terme, un ensemble complet et convivial au service de l’innovation technologique pour les formations supérieures technologiques courtes.
<br>
http://www.iutenligne.net




<br><br><br>



L'éditeur Scenari propose un logiciel permettant la réalisation de cours numériques entièrement réutilisables.
Scénari est un environnement open source de conception de chaînes éditoriales numériques qui a plusieurs modèles : OpaleSup est le modèle le plus utilisé pour la construction de documents pédagogiques.
<br>
http://scenari-platform.org/
<br>

(à ajouter : SCAC, Agence universitaire de la francophonie, Campus Numériques Francophones ?)
			</p>

	</div></div>	<br><br>

    
{% endblock %}