{% extends "EiAdministrationBundle::Master-Base-Admin.html.twig" %}
{% block title %}
     {{ parent() }}   | Visio
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
	     
<section class="grid_9">			   	

        <div class="block-border"> 
            <div class="block-content"> <h1>Newsletter</h1>								
                <div class="block-border" id="status-bar">					
		<a href="javascript:void(0)" class="button" title=""> <strong>Tous les newsletter</strong></a>
		<a href="javascript:void(0)" class="button" title=""> <strong>Liste des abonnés</strong></a>	
                <span class="float-left">Nouveau newsletter</span>
                </div>
            </div>
                
	<br><br>
        	
		<form class="block-content form" id="simple_form" method="post" action="#">
				
				
								
								<span class="label required">
									A
								</span>
									<input type="text" name="complex-fr-subtitle" id="complex-fr-subtitle" value="" class="full-width">
					
						
								<span class="label required">
									Objet
								</span>
									<input type="text" name="complex-fr-subtitle" id="complex-fr-subtitle" value="" class="full-width">
						
						
										
						<span class="label required">
							Contenu
						</span>
						<textarea></textarea>
						<br><br>
					
					<div class="float-right"><br>
						<button type="button"><img src="images/icons/fugue/newspaper.png" width="16" height="16"> Prévisualiser</button>
						<button type="button"><img src="images/icons/fugue/cross-circle.png" width="16" height="16"> Annuler</button>
						<button type="button"><img src="images/icons/fugue/tick-circle.png" width="16" height="16"> Envoyer</button>
											
					</div>
				
			</form>			
			</div>									
		<div class="clear"></div>								

								
</section>		               
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 