{% extends "EieinstitutBundle::Sub-Master-Left.html.twig" %}
{% block title %}
     {{ parent() }}   | Ajouter une ressource
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block Slide %}

{% endblock %}
{% block Sub_Content %}

<section class="grid_6">
		<div class="task with-legend">

						<!-- The legend -->
						
						 
						
					
						
							<span align="center"><img src="{{ asset('bundles/eieinstitut/images/profil.png') }}" width="100" height="100"></span>
							nom prenom
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="grey" align="left">modifier</button>
							
						
						
							 </div>
							 
							 <div class="task with-legend">

						<!-- The legend -->
						
						 
						
					
						
							<span align="center">Tel:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adresse:</br></br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sexe:</br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ville:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pays:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="grey" align="right">modifier</button>
							
					
							 </div>
							 <div class="task with-legend">
                               Représentations</br></br>
						<!-- The legend -->
					         <table><tr><td WIDTH=150 HEIGHT=20>date</td><td WIDTH=400 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>date</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>date</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>date</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>date</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>date</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr></table>
						
							 </div>
							 
							 <div class="task with-legend">
                               Préconisations</br></br>
						<!-- The legend -->
					         <table><tr><td WIDTH=150 HEIGHT=20>domaine</td><td WIDTH=00 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>domaine</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>domaine</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>domaine</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>domaine</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr>
							 <tr><td WIDTH=150 HEIGHT=20>domaine</td><td WIDTH=300 HEIGHT=20>titre</td><td WIDTH=100 HEIGHT=20><a href="#">détail</a></td></tr></table>
						
							 </div>
					  
            </div>
			
					
		</section>
    
{% endblock %}
     
{% block javascripts_Bottom %}

{% endblock %}
