{# empty Twig template #}
{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}

<section class="grid_12">
			<div class="block-border"><form class="block-content form" id="table_form" method="post" action="">
				<h1>Informatique</h1>
				
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li><a href="#" title="Previous"><img src="images/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a></li>
						<li><a href="#" title="Page 1"><b>1</b></a></li>
						<li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="#" title="Page 3"><b>3</b></a></li>
						<li><a href="#" title="Page 4"><b>4</b></a></li>
						<li><a href="#" title="Page 5"><b>5</b></a></li>
						<li><a href="#" title="Next">Next <img src="images/icons/fugue/navigation.png" width="16" height="16"></a></li>
					</ul>
					
				</div>
			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							
							<th scope="col">Sujet</th>
							<th scope="col">Message(s)</th>
							<th scope="col">Dernier message(s)</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Date
							</th>
							
							
					</thead>
					
					<tbody>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
					</tbody>
				
				</table></div>
				
				
			</form></div>
		</section>



<section class="grid_12">
			<div class="block-border"><form class="block-content form" id="table_form" method="post" action="">
				<h1>Informatique</h1>
				
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li><a href="#" title="Previous"><img src="images/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a></li>
						<li><a href="#" title="Page 1"><b>1</b></a></li>
						<li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="#" title="Page 3"><b>3</b></a></li>
						<li><a href="#" title="Page 4"><b>4</b></a></li>
						<li><a href="#" title="Page 5"><b>5</b></a></li>
						<li><a href="#" title="Next">Next <img src="images/icons/fugue/navigation.png" width="16" height="16"></a></li>
					</ul>
					
				</div>
			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							
							<th scope="col">Sujet</th>
							<th scope="col">Message(s)</th>
							<th scope="col">Dernier message(s)</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Date
							</th>
							
							
					</thead>
					
					<tbody>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
						<tr>
							
							<td>Informatique</td>
							<td></td>
							<td></td>
							<td>02-05-2010</td>
						
						
						</tr>
						
					</tbody>
				
				</table></div>
				
				
			</form></div>
		</section>
    
{% endblock %}
