				<!--Contenu-->
				<div class="block-border columns"><div class="block-content">
					<h1>Contenu</h1>
					<ul class="simple-list with-icon">
						<li><a href="#">Actualités</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Diaporama</a></li>
					</ul>
				</div></div>
			
			<!-- ressources-->
				<div class="block-border columns"><div class="block-content">
					<h1>Ressources</h1>
					<ul class="simple-list with-icon">
						<li><a href="#">Toutes les ressources</a></li>
					</ul>
					
				</div></div>
				
				<!-- Utilisateurs-->
				<div class="block-border columns"><div class="block-content">
					<h1>Utilisateurs</h1>
					<ul class="simple-list with-icon">
						<li><a href="#">Tous les utilisateurs</a></li>
						<li><a href="#">Mon profil</a></li>
						
					</ul>
					
				</div></div>				
				<!-- ressources-->
				<div class="block-border columns"><div class="block-content">
					<h1>Messagerie</h1>
					<ul class="simple-list with-icon">
					<li><a href="#">Nouveau message</a></li>
                                        <li><a href="#">Messages re&ccedil;us</a></li>
                                        <li><a href="#">Messages envoy&eacute;s</a></li>
					</ul>
					
				</div></div>
				
				
				<!-- Applications-->
				<div class="block-border columns" ><div class="block-content">
					<h1>Applications</h1>
					<ul class="simple-list with-icon">
                          <li><a href="#">Tutoriel</a></li>
						<li><a href="#">Newsletter</a></li>
						<li><a href="#">Statistiques</a></li>
					</ul>					
				</div></div>
			<!--</div></div>-->	
		<div class="clear"></div>
		
		
