{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
    <!--section detail-->	
                <section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Aide</h1>
					<ul class="bullet-list  with-icon">
						<li><a href="{{ path('AIDE_FAQ') }}">F.A.Q</a></li> 
						<li><a href="{{ path('AIDE_Charte') }}">Charte d'utilisation</a> </li>
						<li><a href="{{ path('AIDE_Security') }}">Sécurité </a></li>
						<li><a href="{{ path('AIDE_Contact') }}">Contact </a></li> 
					</ul>
                            </div>
		</div>
                </section>	
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

					<div class="block-controls">
						<h1>F.A.Q </h1>
					</div>
                                <div class="">
				<div class="task-description">
				<p style="font-weight:bold">G&eacute;n&eacute;ral</p>

<p>Comment m'inscrire sur E-institut ? Pourquoi m'inscrire sur E-institut ? Je suis enseignant-chercheur, comment puis-je me servir d'E-institut ? Comment retrouver facilement une publication pr&eacute;cise ?</p>

<p style="font-weight:bold"> Mon compte</p>

<p>Puis-je utiliser E-institut sans cr&eacute;er un compte ? J'ai oubli&eacute; mon mot de passe, puis-je le r&eacute;cup&eacute;rer ? Comment d&eacute;sactiver mon compte ?</p>

<p style="font-weight:bold"> Mon e-portefolio</p>

<p>Qu'est-ce que mon e-portofolio ? Quelles informations sont publiques sur mon e-portofolio ? Quelles informations dois-je faire appara&icirc;tre sur mon e-portofolio ? Comment mettre &agrave; jour mon e-portofolio, modifier, ajouter ou supprimer des informations ?</p>

<p style="font-weight:bold"> Mon cartable et messages</p>

<p>Qu'est-ce que mon cartable ? Qu'est-ce qui apparait dans mon fil d'actualit&eacute; ? Comment consulter mes messages re&ccedil;us ? Comment envoyer un message priv&eacute; ?</p>

<p style="font-weight:bold"> Mon r&eacute;seau</p>

<p>Qu'est-ce que mon r&eacute;seau ? Comment demander le rattachement de ma tutelle ? A quoi peut me servir mon r&eacute;seau ? Qu'est-ce qu'un contact, un bin&ocirc;me, un groupe, une classe virtuelle, une tutelle ? Comment construire mon r&eacute;seau scientifique et p&eacute;dagogique ? Comment trouver de nouveaux contacts ? Comment entrer en contact avec quelqu'un ?</p>

<p style="font-weight:bold"> Mes ressources : trouver du contenu scientifique, p&eacute;dagogique, acad&eacute;mique</p>

<p>Quels types de contenu sont-ils disponibles sur E-institut ? Comment trouver du contenu pertinent pour moi ? Il n'y a pas encore de contenu sur le sujet pr&eacute;cis que je cherche, que puis-je faire ? En lisant une publication, j'ai d&eacute;couvert une erreur, que puis-je faire ?</p>

<p style="font-weight:bold"> Publier des ressources scientifiques, p&eacute;dagogiques ou informatives</p>

<p>Pourquoi publier mes documents ou le fruit de mon travail sur E-institut ? Comment publier du contenu sur E-institut ? Quelles sont les diff&eacute;rentes options de publications ? Quels types de fichiers puis-je ins&eacute;rer dans mes publications ? Comment modifier une de mes publications ? Comment supprimer une de mes publications ? Y-a-t-il des choses que je ne peux pas publier sur E-institut ? Pourquoi E-institut a-t-il supprim&eacute; ma publication ?</p>

<p style="font-weight:bold">(idem : mod&egrave;le beebac, d&eacute;but de r&eacute;flexion pour r&eacute;diger les conditions sp&eacute;cifiques &agrave; E-institut, &agrave; noter : la liste des questions ci-dessus a d&eacute;j&agrave; fait l'objet d'une adaptation au contexte E-institut)</p>

</div>
				</div>
                           
					<div class="clear"></div>
			    </div>	
			</div>
 
		</section>
		<!--fin section lioste des publications -->	
{% endblock %}