{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
    <!--section detail-->	
		<section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Aide</h1>
					<ul class="bullet-list  with-icon">
						<li><a href="{{ path('AIDE_FAQ') }}">F.A.Q</a></li> 
						<li><a href="{{ path('AIDE_Charte') }}">Charte d'utilisation</a> </li>
						<li><a href="{{ path('AIDE_Security') }}">Sécurité </a></li>
						<li><a href="{{ path('AIDE_Contact') }}">Contact </a></li> 
					</ul>
                            </div>
		</div>
                </section>
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

					<div class="block-controls">
						<h1>Sécurité </h1>
					</div>

				
				<div class="">
					<div class="task-description">
					
					<p style="font-weight:bold"> S&eacute;curit&eacute;</p>

<p>La vocation d'E-institut &eacute;tant le partage des connaissances et l'entraide &eacute;ducative par et pour tous, il est par nature ouvert et libre. Vous trouverez ci-dessous des conseils de prudence pour &eacute;voluer dans cet environnement.</p>

<p style="font-weight:bold">Conseils g&eacute;n&eacute;raux </p>

<p>Ne communiquez jamais votre mot de passe &agrave; quelqu&rsquo;un d&rsquo;autre.</p>

<p>Lorsque vous &eacute;changez ou partagez des informations personnelles, soyez vigilant. Sympathiser &agrave; travers une entraide sur des cours et des comp&eacute;tences est normal, mais les informations permettant de vous identifier ou de vous localiser dans le monde r&eacute;el, telles que votre adresse ou votre num&eacute;ro de t&eacute;l&eacute;phone ne doivent pas &ecirc;tre transmises &agrave; n'importe qui.</p>

<p>Aidez nous &agrave; mod&eacute;rer la communaut&eacute; en signalant les utilisateurs et les contenus enfreignant la charte d'utilisation.</p>

<p>E-institut demande &agrave; ses utilisateurs de s'identifier sous leur nom r&eacute;el, l&rsquo;utilisation d&rsquo;une fausse identit&eacute; est une violation de notre charte d'utilisation. Restez attentif lorsque vous acceptez ou envoyez des demandes d&rsquo;ajout de contact, et gardez &agrave; l'esprit qu&rsquo;il est toujours risqu&eacute; de rencontrer en personne quelqu&rsquo;un que vous ne connaissez pas d&eacute;j&agrave; dans le monde r&eacute;el.</p>

<p style="font-weight:bold">
 Ne jamais partager leur mot de passe<br>
 Signaler les utilisateurs enfreignant notre charte d'utilisation<br>
 Bloquer tout utilisateur qui pourrait envoyer des contenus non sollicit&eacute;s</p>

<p style="font-weight:bold">
Que faire si je suis expos&eacute; &agrave; des contenus inappropri&eacute;s sur le site ?</p>

<p>E-institut prend la s&eacute;curit&eacute; des usagers tr&egrave;s au s&eacute;rieux et supprime r&eacute;guli&egrave;rement certains contenus publi&eacute;s sur le site. Nous encourageons les utilisateurs &agrave; signaler les profils, messages, th&egrave;mes, publications, questions, r&eacute;ponses, commentaires, et autres contenus inappropri&eacute;s. Les &eacute;l&eacute;ments signal&eacute;s sont examin&eacute;s par le personnel de Ramses et retir&eacute;s lorsqu&rsquo;ils enfreignent notre charte d'utilisation.</p>

<p style="font-weight:bold">Comment je peux signaler un abus sur E-institut?</p>

<p>Pour signaler un contenu que votre enfant jugerait inappropri&eacute;, il peut utiliser le bouton Signaler pr&eacute;sent de fa&ccedil;on syst&eacute;matique sur chaque page. Ceci aide les mod&eacute;rateurs de E-institut &agrave; identifier les contenus qui ne respectent pas notre charte d'utilisation. Il s'agit de contenus qui n'ont rien &agrave; faire sur E-institut, qu'il s'agisse d'injures, de pornographie, d'incitations &agrave; la haine, ou encore de propagande ou de publicit&eacute;s d&eacute;guis&eacute;es.</p>

<p>Par exemple, si votre enfant re&ccedil;oit un message abusif dans sa bo&icirc;te de r&eacute;ception, il peut signaler ce message en cliquant sur le lien Signaler (ind&eacute;sirable) en regard du nom de l&rsquo;exp&eacute;diteur. Si votre enfant re&ccedil;oit un message de nature harcelante d&rsquo;une personne qui appartient d&eacute;j&agrave; &agrave; sa liste de contacts sur E-institut, il est pr&eacute;f&eacute;rable qu&rsquo;il retire cette personne de sa liste et signale le message. Le fait de signaler un message comme &eacute;tant de nature harcelante ajoute automatiquement l&rsquo;exp&eacute;diteur &agrave; la liste des personnes bloqu&eacute;es de votre compte. </p>

<p>Si vous apprenez qu&rsquo;une personne n&rsquo;a pas mis fin &agrave; son comportement abusif &agrave; votre encontre m&ecirc;me apr&egrave;s l&rsquo;avoir bloqu&eacute;e, vous pouvez signaler cette personne. Les rapports sont confidentiels et l&rsquo;utilisateur n&rsquo;a aucun moyen de savoir qui l&rsquo;a signal&eacute;. E-institut examine ces rapports et d&eacute;termine si le contenu signal&eacute; doit ou non &ecirc;tre supprim&eacute; en fonction de sa conformit&eacute; avec notre charte d'utilisation. Un administrateur de E-institut examine chaque rapport afin de d&eacute;cider de la r&eacute;ponse appropri&eacute;e.</p>

<p>Si un cas d'abus grave est d&eacute;couvert, nous vous invitons &agrave; nous le signaler en pr&eacute;cisant les &eacute;l&eacute;ments qui constituent cet abus. Si la gravit&eacute; justifie un signalement &agrave; la police, E-institut vous encourage &agrave; utiliser votre compte E-institut pour r&eacute;unir imm&eacute;diatement et faire des sauvegardes des &eacute;l&eacute;ments qui motivent ce signalement, et &agrave; porter plainte. Il est toutefois important de noter que la protection des donn&eacute;es personnelles de chacun ne nous permet pas de vous les communiquer directement, et que les donn&eacute;es personnelles d'autres utilisateurs ne sont jamais communiqu&eacute;es hors d'une proc&eacute;dure l&eacute;gale. E-institut reste &agrave; votre &eacute;coute si vous avez des questions ou des suggestions concernant la s&eacute;curit&eacute; sur ...@e-institut.net.</p>

<p style="font-weight:bold">
Qu&rsquo;en est-il de la confidentialit&eacute; pour les mineurs ?</p>

<p>La politique de confidentialit&eacute; s'applique pour tous nos membres, mineurs compris. E-institut ne pouvant communiquer d'informations confidentielles sur un compte &agrave; quiconque hormis le d&eacute;tenteur de ce compte, nous encourageons les parents qui souhaitent acc&eacute;der au compte de leur enfant &agrave; le faire en sa compagnie.</p>

<p style="font-weight:bold">
Enseignants</p>

<p>Les &eacute;ducateurs de tous niveaux sont des acteurs importants de la vie de la communaut&eacute;. Ils jouent un r&ocirc;le de mentor p&eacute;dagogique pour leurs &eacute;tudiants, &agrave; la fois pour les disciplines o&ugrave; ils sont experts, et dans l'&eacute;ducation aux usages num&eacute;riques, en particulier pour les plus jeunes. Voici quelques informations pouvant leur &ecirc;tre utiles.</p>



<p style="font-weight:bold">Que faire si un de mes &eacute;l&egrave;ves se trouve face &agrave; des contenus inappropri&eacute;s sur le site ?</p>

<p>E-institut prend la s&eacute;curit&eacute; des usagers tr&egrave;s au s&eacute;rieux et supprime r&eacute;guli&egrave;rement certains contenus publi&eacute;s sur le site. Nous encourageons les utilisateurs &agrave; signaler les profils, messages, th&egrave;mes, publications, questions, r&eacute;ponses, commentaires, et autres contenus inappropri&eacute;s. Les &eacute;l&eacute;ments signal&eacute;s sont examin&eacute;s par le personnel de E-institut et retir&eacute;s lorsqu&rsquo;ils enfreignent notre charte d'utilisation.</p>

<p style="font-weight:bold">
Si un &eacute;l&egrave;ve me fait part d&rsquo;un abus sur E-institut, puis-je le signaler en son nom ?</p>

<p>Les signalements de contenu aux mod&eacute;rateurs peuvent &ecirc;tre fait par tout utilisateur. Vous pouvez donc signaler vous-m&ecirc;me un contenu qu'un de vos &eacute;l&egrave;ves vous aurait signal&eacute;.</p>

<p style="font-weight:bold">Que dois-je faire si je d&eacute;couvre un cas d&rsquo;abus sur E-institut affectant un de mes &eacute;l&egrave;ves?</p>

<p>Si un cas d'abus grave est d&eacute;couvert, nous vous invitons &agrave; nous le signaler en pr&eacute;cisant les &eacute;l&eacute;ments qui constituent cet abus. Nous vous invitons &eacute;galement &agrave; en faire &eacute;tat le cas &eacute;ch&eacute;ant aux parents de l'&eacute;l&egrave;ve, et/ou &agrave; l'&eacute;tablissement. Si la gravit&eacute; peut justifier un signalement ult&eacute;rieur &agrave; la police, E-institut vous encourage &agrave; utiliser votre compte E-institut pour r&eacute;unir imm&eacute;diatement et faire des sauvegarde des &eacute;l&eacute;ments en question. Il est toutefois important de noter que la protection des donn&eacute;es personnelles de chacun ne nous permet pas de vous les communiquer directement, et que les donn&eacute;es personnelles d'autres utilisateurs ne sont jamais communiqu&eacute;es hors d'une proc&eacute;dure l&eacute;gale. E-institut reste &agrave; votre &eacute;coute si vous avez des questions ou des suggestions concernant la s&eacute;curit&eacute; sur ...@e-institut.net.</p>

<p style="font-weight:bold">
Que faire si une personne harc&egrave;le un &eacute;l&egrave;ve sur le site ou via sa bo&icirc;te de r&eacute;ception ?</p>

<p>N&rsquo;oubliez pas que seuls les contacts que votre &eacute;l&egrave;ve a confirm&eacute;s peuvent le contacter via la fonctionnalit&eacute; messagerie d’E-institut . Si un de ses contacts harc&egrave;le votre &eacute;l&egrave;ve, il est pr&eacute;f&eacute;rable qu'il retire cet utilisateur de sa liste de contacts. Vous ou votre &eacute;l&egrave;ve pouvez &eacute;galement signaler l&rsquo;utilisateur en cliquant sur le lien Signaler cette personne qui appara&icirc;t en bas de son profil. Votre &eacute;l&egrave;ve peut &eacute;galement signaler l&rsquo;exp&eacute;diteur d&rsquo;un message qu&rsquo;il a re&ccedil;u &agrave; l&rsquo;aide du lien situ&eacute; en regard du message dans la bo&icirc;te de r&eacute;ception.</p>

<p style="font-weight:bold">Que faire si quelqu&rsquo;un agresse mon &eacute;l&egrave;ve au cours d&rsquo;une discussion instantan&eacute;e sur E-institut ?</p>

<p>N&rsquo;oubliez pas que seuls les contacts que votre &eacute;l&egrave;ve a confirm&eacute;s peuvent le contacter via la fonctionnalit&eacute; de discussion instantan&eacute;e de E-institut.Si un de ses contacts harc&egrave;le votre &eacute;l&egrave;ve, il est pr&eacute;f&eacute;rable qu'il retire cet utilisateur de sa liste de contacts. Vous ou votre &eacute;l&egrave;ve pouvez &eacute;galement signaler l&rsquo;utilisateur en cliquant sur le lien Signaler cette personne qui appara&icirc;t en bas de son profil. Votre enfant peut &eacute;galement signaler l&rsquo;exp&eacute;diteur d&rsquo;un message qu&rsquo;il a re&ccedil;u &agrave; l&rsquo;aide du lien situ&eacute; en regard du message dans la bo&icirc;te de r&eacute;ception. En cas d'abus grave, nous vous conseillons de garder une copie des propos &eacute;chang&eacute;s lors de cette discussion, pour pouvoir le cas &eacute;ch&eacute;ant porter ceci devant la justice.</p>

<p style="font-weight:bold">Qu&rsquo;en est-il de la confidentialit&eacute; pour les mineurs ?</p>

<p>La politique de confidentialit&eacute; s'applique pour tous nos membres, mineurs compris. E-institut ne pouvant communiquer d'informations confidentielles sur un compte &agrave; quiconque hormis le d&eacute;tenteur de ce compte, nous encourageons les enseignants et professionnels de l'&eacute;ducation qui souhaitent acc&eacute;der au compte d'un de leurs &eacute;l&egrave;ves &agrave; le faire en sa compagnie.<br>
Je souhaite signaler un profil usurpant mon identit&eacute;.</p>

<p>Envoyez un email &agrave; ...@e-institut.net en pr&eacute;cisant votre nom, et en incluant une preuve d'identit&eacute; (photocopie de la carte d'identit&eacute;).</p>

<p style="font-weight:bold">
Que faire si je trouve un th&egrave;me &agrave; caract&egrave;re haineux ou r&eacute;pr&eacute;hensible sur E-institut ?</p>

<p>Signalez ce th&egrave;me directement &agrave; partir de sa page, ou envoyez-nous  un email &agrave; ...@e-institut.net.</p>

<p style="font-weight:bold">
Que faire pour &eacute;viter des activit&eacute;s relevant du harc&egrave;lement ?</p>

<p>Nous vous conseillons de ne jamais rentrer dans le jeu des provocateurs, et de simplement signaler les contenus qui d&eacute;gradent le service E-institut ou qui s'attaquent &agrave; un des membres. R&eacute;pondre entraine g&eacute;n&eacute;ralement une escalade, et vous pourriez vous-m&ecirc;me violer la charte d'utilisation dans le cadre d'un tel &eacute;change. Merci de vous reporter &agrave; notre charte pour plus de conseils d'utilisation.</p>

<p style="font-weight:bold">
Que se passe-t-il lorsque je signale un utilisateur ?</p>

<p>L'&eacute;quipe de mod&eacute;ration E-institut re&ccedil;oit une notification, et peut alors v&eacute;rifier sur la base de ce que vous avez communiqu&eacute; et des donn&eacute;es syst&egrave;me si un membre a enfreint la charte d'utilisation. Si une entorse &agrave; la charte est identifi&eacute;e, le membre pourra voir les contenus mis en cause supprim&eacute;s, voire avoir son compte suspendu ou supprim&eacute; dans les cas les plus graves.</p>

<p style="font-weight:bold">Etudiants </p>

<p>Etudiants, votre s&eacute;curit&eacute; et tranquillit&eacute; lorsque vous utilisez E-institut est notre pr&eacute;occupation principale. Voici quelques conseils pour mieux vous prot&eacute;ger de tentatives de harc&egrave;lement ou d'intrusion dans votre vie priv&eacute;e, en identifiant et en r&eacute;agissant aux comportements anormaux d'autres utilisateurs.</p>

<p>Je re&ccedil;ois des messages ind&eacute;sirables. Que dois-je faire ?</p>

<p>Seuls vos contacts peuvent vous envoyer des messages. Si les messages de quelqu'un vous ennuient, supprimez cette personne de vos contacts.</p>

<p style="font-weight:bold">Que faire si je trouve un th&egrave;me &agrave; caract&egrave;re pornographique, haineux ou r&eacute;pr&eacute;hensible sur E-institut?</p>

<p>Signalez ce th&egrave;me directement &agrave; partir de sa page, ou envoyez nous un email &agrave; ...@E-institut.net.</p>

<p style="font-weight:bold">Que faire pour &eacute;viter des activit&eacute;s relevant du harc&egrave;lement ?</p>

<p>Nous vous conseillons de ne jamais rentrer dans le jeu des provocateurs, et de simplement signaler les contenus qui d&eacute;gradent le service E-institut ou qui s'attaquent &agrave; un des membres. R&eacute;pondre entraine g&eacute;n&eacute;ralement une escalade, et vous pourriez vous-m&ecirc;me violer la charte d'utilisation dans le cadre d'un tel &eacute;change. Merci de vous reporter &agrave; notre charte pour plus de conseils d'utilisation.</p>

<p style="font-weight:bold">
Que se passe-t-il lorsque je signale un utilisateur ?</p>

<p>L'&eacute;quipe de mod&eacute;ration E-institut re&ccedil;oit une notification, et peut alors v&eacute;rifier sur la base de ce que vous avez communiqu&eacute; et des donn&eacute;es syst&egrave;me si un membre a enfreint la charte d'utilisation. Si une entorse &agrave; la charte est identifi&eacute;e, le membre pourra voir les contenus mis en cause supprim&eacute;s, voire avoir son compte suspendu ou supprim&eacute; dans les cas les plus graves.</p>

<p style="font-weight:bold">
Que faire si une personne me harc&egrave;le sur le site ou via ma bo&icirc;te de r&eacute;ception ?</p>

<p>Seuls les contacts que vous avez confirm&eacute;s peuvent vous contacter via la fonctionnalit&eacute; messagerie d'E-institut. Si un de ses contacts vous harc&egrave;le, il est pr&eacute;f&eacute;rable de retirer cet utilisateur de votre liste de contacts. Vous pouvez &eacute;galement signaler l&rsquo;utilisateur en cliquant sur le lien Signaler cette personne qui appara&icirc;t en bas de son profil, ou au niveau du message lui-m&ecirc;me dans votre boite de r&eacute;ception.</p>

<p style="font-weight:bold">Que faire si quelqu&rsquo;un se montre agressif au cours d&rsquo;une discussion instantan&eacute;e sur E-institut ?</p>

<p>N&rsquo;oubliez pas que seuls les contacts que vous avez confirm&eacute;s peuvent vous contacter via la fonctionnalit&eacute; de discussion instantan&eacute;e d'E-institut. Si un de vos contacts vous harc&egrave;le, il est pr&eacute;f&eacute;rable que vous retiriez cet utilisateur de votre liste de contacts. Vous pouvez &eacute;galement signaler l&rsquo;utilisateur en cliquant sur le lien Signaler cette personne qui appara&icirc;t en bas de son profil. Vous pouvez &eacute;galement signaler l&rsquo;exp&eacute;diteur d&rsquo;un message que vous avez re&ccedil;u &agrave; l&rsquo;aide du lien situ&eacute; en regard du message dans la bo&icirc;te de r&eacute;ception. En cas d'abus grave, nous vous conseillons de garder une copie des propos &eacute;chang&eacute;s lors de cette discussion, pour pouvoir le cas &eacute;ch&eacute;ant porter ceci devant la justice.</p>

<p style="font-weight:bold">
Comment interagit E-institut avec la justice et les forces de l'ordre?</p>

<p>E-institut peut fournir des informations &agrave; la police et &agrave; la justice dans le cadre pr&eacute;vu par la loi, afin de prot&eacute;ger ses utilisateurs. E-institut ne fournit en revanche aucune information hors de ce cadre, du fait d'une politique de confidentialit&eacute; des donn&eacute;es personnelles strictes visant &agrave; prot&eacute;ger la vie priv&eacute;e de ses utilisateurs.</p>

<p style="font-weight:bold">
(idem : mod&egrave;le beebac, d&eacute;but de r&eacute;flexion pour r&eacute;diger les conditions sp&eacute;cifiques &agrave; E-institut, ce texte a subi une premi&egrave;re adaptation. rmq : beaucoup de redites li&eacute;es au fait de s'adresser &agrave; deux types d'acteurs diff&eacute;rents prof et &eacute;tudiant, en utilisant le &quot;je&quot; on pourrait simplifier)</p>
					
					</div>
				</div>
					<div class="clear"></div>
			    </div>
				
			</div>
 
		</section>
		<!--fin section lioste des publications -->	
{% endblock %}